@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

::-webkit-scrollbar {
  background-color: #12121300;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #ffffff54;
  border-radius: 1vh;
}

@font-face {
    font-family: null;
    src: url(../src/assets/fonts/Null.otf);
}

@font-face {
    font-family: TT-Firs;
    src: url(../src/assets/fonts/TT-Reg.ttf);
}

@font-face {
    font-family: Thunder;
    src: url(../src/assets/fonts/thunder.otf);

}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-sora: "Sora", sans-serif;
    --font-code: "Source Code Pro", monospace;
    --font-grotesk: "Space Grotesk", sans-serif;
    color-scheme: dark;
    --m: 2rem;
  
    --red: #AC6AFF;
    --pink: #FFC876;
    --purple: #FF776F;
    --blue: #7ADB78;
    --green: #858DFF;
    --yellow: #FF98E2 ;
    --orange: #FF6D1B;
}

* {
    scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth
}

@layer base {
    body {
        @apply font-sans bg-n-8 text-n-1 text-base;
    }
}
.hero-moon{
  transition: 0s all !important;
  border-radius: 50%;
  width: 27rem;
  animation: 30s curly-rotate alternate infinite;
}
@keyframes curly-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(500deg);
  }
}
.video-container div::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(0.96);
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 51px 0px rgb(13, 73, 97);
  -moz-box-shadow: 0px 0px 51px 0px rgba(13, 73, 97);
  box-shadow: 0px 0px 51px 0px rgb(95, 151, 216);
  z-index: -1;
}

.hero-moon.moved {
  margin-top: 90vh;
  margin-right: 80vh;
  transform: scale(0.7) !important;
}

.rotate-45 {
    @apply rotate-[45deg];
}

.rotate-90 {
    @apply rotate-[90deg];
}

.rotate-135 {
    @apply rotate-[135deg];
}

.rotate-180 {
    @apply rotate-[180deg];
}

.rotate-225 {
    @apply rotate-[225deg];
}

.rotate-270 {
    @apply rotate-[270deg];
}

.rotate-315 {
    @apply rotate-[315deg];
}

.rotate-360 {
    @apply rotate-[360deg];
}

.-rotate-45 {
    @apply rotate-[-45deg];
}

.-rotate-90 {
    @apply rotate-[-90deg];
}

.-rotate-135 {
    @apply rotate-[-135deg];
}

.-rotate-180 {
    @apply rotate-[-180deg];
}

.-rotate-225 {
    @apply rotate-[-225deg];
}

.-rotate-270 {
    @apply rotate-[-270deg];
}

.-rotate-315 {
    @apply rotate-[-315deg];
}

.-rotate-360 {
    @apply rotate-[-360deg];
}
.text-outline {
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #fff;
    color: transparent !important;
    transition: 0.2s color;
}

.button-sm {
    --m: 2rem !important;
}
.button-md-1 {
    --m: 3rem;
}
.button-md-2 {
    --m: 4rem;
}
.button-lg {
    --m: 6rem;
}
.button-primary {
    border: calc(0.08 * var(--m)) solid transparent;
    position: relative;
    color: #F3F3F3;
    font-size: calc(var(--m)-1rem);
    border-radius: calc(0.5 * var(--m));
    padding: calc(0.25 * var(--m)) calc(1 * var(--m));
    cursor: pointer;
    background:linear-gradient(#121213, #121213), linear-gradient(#121213 50%, rgba(18, 18, 19, 0.6) 80%, rgba(18, 18, 19, 0)),  linear-gradient(90deg, var(--orange), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red));
    background-origin: border-box;
    background-clip: padding-box, border-box, border-box;
    background-size: 200%;
    animation: animate 2s infinite linear;
  }
  
  .button-primary::before {
    content: '';
    background: linear-gradient(90deg, var(--orange), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red));
    height: 30%;
    width: 60%;
    position: absolute;
    bottom: -20%;
    z-index: -5;
    background-size: 200%;
    animation: animate 2s infinite linear;
    filter: blur(calc(0.8 * var(--m)));
  }
  
  .button-primary:hover, .button-primary:hover::before {
    animation: animate 0.5s infinite linear;
  }
  
  @keyframes animate {
    0% {background-position: 0}
    100% {background-position: 200%}
  }
  
  @media screen and (max-width: 1000px) {
    :root {
      --m: 2rem;
    }
  }

  .header.scrolled {
    margin: 1% 5%;
    width: 90%;
    border-radius: 2vh;
    border: 1px solid rgb(37 33 52);
    -webkit-box-shadow: 0px 0px 36px 1px rgba(238,238,238,0.185);
-moz-box-shadow: 0px 0px 36px 1px rgba(238,238,238,0.185);
box-shadow: 0px 0px 36px 1px rgba(238, 238, 238, 0.185);
  }


  #app-cover {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 430px;
    height: 100px;
    margin: -4px auto;
    z-index: 1000;
  }
  
  #bg-artwork {
    position: fixed;
    top: -30px;
    right: -30px;
    bottom: -30px;
    left: -30px;
    background-image: url("https://raw.githubusercontent.com/himalayasingh/music-player-1/master/img/_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    filter: blur(40px);
    -webkit-filter: blur(40px);
    z-index: 1;
  }
  
  #bg-layer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.51;
    z-index: 2;
  }
  
  #player {
    position: relative;
    height: 100%;
    z-index: 3;
  }
  
  #player-track {
    position: absolute;
    top: 0;
    right: 15px;
    left: 15px;
    padding: 13px 22px 10px 184px;
    background-color: #fff7f7;
    border-radius: 15px 15px 0 0;
    transition: 0.3s ease top;
    z-index: 1;
  }
  
  #player-track.active {
    top: -92px;
  }
  
  #album-name {
    color: #54576f;
    font-size: 17px;
    font-weight: bold;
  }
  
  #track-name {
    color: #acaebd;
    font-size: 13px;
    margin: 2px 0 13px 0;
  }
  
  #track-time {
    height: 12px;
    margin-bottom: 3px;
    overflow: hidden;
  }
  
  #current-time {
    float: left;
  }
  
  #track-length {
    float: right;
  }
  
  #current-time,
  #track-length {
    color: transparent;
    font-size: 11px;
    background-color: #ffe8ee;
    border-radius: 10px;
    transition: 0.3s ease all;
  }
  
  #track-time.active #current-time,
  #track-time.active #track-length {
    color: #f86d92;
    background-color: transparent;
  }
  
  #s-area,
  #seek-bar {
    position: relative;
    height: 4px;
    border-radius: 4px;
  }
  
  #s-area {
    background-color: #ffe8ee;
    cursor: pointer;
  }
  
  #ins-time {
    position: absolute;
    top: -29px;
    color: #fff;
    font-size: 12px;
    white-space: pre;
    padding: 5px 6px;
    border-radius: 4px;
    display: none;
  }
  
  #s-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    z-index: 2;
  }
  
  #ins-time,
  #s-hover {
    background-color: #3b3d50;
  }
  
  #seek-bar {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #fd6d94;
    transition: 0.2s ease width;
    z-index: 1;
  }
  
  #player-content {
    position: relative;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 30px 80px #656565;
    border-radius: 15px;
    z-index: 2;
  }
  
  #album-art {
    position: absolute;
    top: -40px;
    width: 115px;
    height: 115px;
    margin-left: 40px;
    transform: rotateZ(0);
    transition: 0.3s ease all;
    box-shadow: 0 0 0 10px #fff;
    border-radius: 50%;
    overflow: hidden;
  }
  
  #album-art.active {
    top: -60px;
    box-shadow: 0 0 0 4px #fff7f7, 0 30px 50px -15px #afb7c1;
  }
  
  #album-art:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin: -10px auto 0 auto;
    background-color: #d6dee7;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px #fff;
    z-index: 2;
  }
  
  #album-art img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
  }
  
  #album-art img.active {
    opacity: 1;
    z-index: 1;
  }
  
  #album-art.active img.active {
    z-index: 1;
    animation: rotateAlbumArt 3s linear 0s infinite forwards;
  }
  
  @keyframes rotateAlbumArt {
    0% {
      transform: rotateZ(0);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }
  
  #buffer-box {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 13px;
    color: #1f1f1f;
    font-size: 13px;
    font-family: Helvetica;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    padding: 6px;
    margin: -12px auto 0 auto;
    background-color: rgba(255, 255, 255, 0.19);
    opacity: 0;
    z-index: 2;
  }
  
  #album-art img,
  #buffer-box {
    transition: 0.1s linear all;
  }
  
  #album-art.buffering img {
    opacity: 0.25;
  }
  
  #album-art.buffering img.active {
    opacity: 0.8;
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }
  
  #album-art.buffering #buffer-box {
    opacity: 1;
  }
  
  #player-controls {
    width: 250px;
    height: 100%;
    margin: 0 5px 0 141px;
    float: right;
    overflow: hidden;
  }
  
  .control {
    width: 33.333%;
    float: left;
    padding: 12px 0;
  }
  
  #app-cover .button {
    width: 26px;
    height: 26px;
    padding: 25px;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
  }
  
  #app-cover .button i {
    display: block;
    color: #d6dee7;
    font-size: 26px;
    text-align: center;
    line-height: 1;
  }
  
  #app-cover .button,
  #app-cover .button i {
    transition: 0.2s ease all;
  }
  
  #app-cover .button:hover {
    background-color: #d6d6de;
  }
  
  #app-cover .button:hover i {
    color: #fff;
  }
  
  .about-text {
    text-shadow: 0 0 3px #ffffff46, 0 0 3px #ffffff46, 0 0 3px #ffffff46, 0 0 3px #ffffff46, 0 0 3px #ffffff46, 0 0 3px #ffffff46, 0 0 3px #ffffff46;
  }

  @keyframes glow {
    from {
      text-shadow: 0 0 10px #ffffff46, 0 0 10px #ffffff46, 0 0 10px #ffffff46, 0 0 10px #ffffff46, 0 0 10px #ffffff46, 0 0 10px #ffffff46, 0 0 10px #ffffff46;
    }
    to {
      text-shadow: 0 0 10px #ffffff46, 0 0 5px #ffffff46, 0 0 5px #ffffff46, 0 0 5px #ffffff46, 0 0 5px #ffffff46, 0 0 5px #ffffff46, 0 0 5px #ffffff46;
    }
  }

  @keyframes flicker {
    0%, 20%, 24%, 32%, 50%, 56%, 64%, 100%{
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.2), 0 0 10px rgba(255, 255, 255, 0.2), 0 0 15px rgba(255, 255, 255, 0.2), 0 0 20px rgb(255, 255, 255);
      color:#fff;
    }
    28%, 60% {
      color: #eeeeee52;
      text-shadow: none;
    }
}

.list-bullet {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 1vh 4vh 1vh 2vh;
}

.list-bullet::before {
  content: "";
 position: absolute;
  transform: translate(-5px, -5px);
  width: 20px;
  height: 20px;
  z-index: -1;
  border-radius: 50%;
  background-color: #ffffff5d;
  animation: statusindicator 2s infinite alternate-reverse;
  
}
@keyframes statusindicator {
    0% {
      opacity: 1;

    }
    50% {
      opacity: 0;
         }
    100% {
      opacity: 1;
    }
  }

.profile-img {
  border-radius: 50%;
}

.editor-button {
  border: 1px solid #696969;
  border-radius: 1rem;
}